# Data Processing
pandas
numpy<2.0.0
argparse
fasttext
deep_translator
sentence_transformers

# Database Transformation (Choose the one for your DB, e.g., postgres)
dbt-core
dbt-duckdb

# Quality & Environment
python-dotenv
pytest