# Data Processing
pandas
numpy
argparse
fasttext
deep_translator

# Database Transformation (Choose the one for your DB, e.g., postgres)
dbt-core
dbt-duckdb

# Quality & Environment
python-dotenv
pytest